<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>


<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Website CSS style -->

<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

<!-- Website Font style -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<title>Admin</title>
</head>
<body>

<div class="container">
    <h2>Employees</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
            <!--<th>Account Status</th>-->
            <th>Update at</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "employee : ${employees}" th:object="${employee}">
            <td th:text="${employee.employeeId}"></td>
            <td th:text="${employee.login}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.eMail}"></td>
            <td th:text="${employee.phone}"></td>
            <td th:text="${employee.role}"></td>
            <!--<td th:text="*{isActive}"></td>-->
            <td th:text="${employee.updatedAt}"></td>

        </tr>
        </tbody>
    </table>
</div>

<script src="/webjars/jquery/2.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>

</body>
</html>