<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formularz logowania do systemu</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>


<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Website CSS style -->

<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

<!-- Website Font style -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<title>Admin</title>
</head>
<body>
<div class="container">
    <form class="form">
        <div class="header">
            <span class="glyphicon glyphicon-user">
                Login
            </span>
        </div>
        <div class="form-group">
            <input th:type="text" th:class="form-control" placeholder="Login">
        </div>
        <div class="form-group">
            <input th:type="password" th:class="form-control" placeholder="Password">
        </div>

        <button type="button" class="btn btn-primary btn-lg btn-block">Login</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Back</button>
    </form>
</div>

<script src="/webjars/jquery/2.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>

</body>
</html>