<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Website CSS style -->

    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <title>Admin</title>
</head>
<body>
<div class="container">
    <form class="form" action="#" th:action="@{/register}" method="post" th:object="${employeeForm}">
        <div class="header">
            <span class="glyphicon glyphicon-user">
                Register
            </span>
        </div>
        <div class="form-group">
            <input th:type="text" th:class="form-control" placeholder="First Name" th:field="*{firstName}">
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Error</p>
</div>
        <div class="form-group">
            <input th:type="text" th:class="form-control" placeholder="Last Name" th:field="*{lastName}">
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error</p>
        </div>
        <div class="form-group">
            <input th:type="text" th:class="form-control" placeholder="Login" th:field="*{login}">
            <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Error</p>
        </div>
        <div class="form-group">
            <input th:type="password" th:class="form-control" placeholder="Password" th:field="*{password}">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</p>
        </div>
        <div class="form-group">
            <input th:type="password" th:class="form-control" placeholder="Re-type password" th:field="*{rePassword}">
            <p th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}">Error</p>
        </div>

        <div class="form-group">
            <input th:type="email" th:class="form-control" placeholder="E-mail" th:field="*{eMail}">
            <p th:if="${#fields.hasErrors('eMail')}" th:errors="*{eMail}">Error</p>
        </div>
        <div class="form-group">
            <input th:type="text" th:class="form-control" placeholder="___-___-___" th:field="*{phone}">
            <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Error</p>
        </div>
        <div class="form-group">
            <select th:class="form-control" th:field="*{isActive}">
                <option th:class="form-control" value="Default">Choose account status</option>
                <option th:class="form-control" value="Active">Active</option>
                <option th:class="form-control" value="Inactive">Inactive</option>
            </select>
            <p th:if="${#fields.hasErrors('isActive')}" th:errors="*{isActive}">Error</p>
        </div>
        <div class="form-group">
            <select th:class="form-control" th:field="*{role}">
                <option th:class="form-control" value="Default">Choose account type</option>
                <option th:class="form-control" value="Admin">Admin</option>
                <option th:class="form-control" value="Employee">Employee</option>
            </select>
            <p th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Error</p>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
        <button type="button" class="btn btn-primary btn-lg btn-block">Back</button>
    </form>
</div>

<script src="/webjars/jquery/2.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>