<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
        <form>
            <input type="text" placeholder="First Name"> <br>
            <input type="text" placeholder="Second Name"> <br>
            <input type="text" placeholder="Login"> <br>
            <input type="password" placeholder="Password"> <br>
            <input type="password" placeholder="Confirm Password"> <br>
            <input type="email" placeholder="E-mail"> <br>
            <input type="text" placeholder="+48 ___-___-___"> <br>
            <select>
                <option value="select">Account status</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select> <br>
            <select>
                <option value="select">Select role</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select> <br>

            <input type="submit" value="Register">
        </form>

        <form>
            <input type="submit" value="Back">
        </form>


</body>
</html>