<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Website CSS style -->

    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <title>Register</title>
</head>
<body>
        <form class="form">

            <input type="text" placeholder="First Name"> <br>
            <input type="text" placeholder="Second Name"> <br>
            <input type="text" placeholder="Login"> <br>
            <input type="password" placeholder="Password"> <br>
            <input type="password" placeholder="Confirm Password"> <br>
            <input type="email" placeholder="E-mail"> <br>
            <input type="text" placeholder="+48 ___-___-___"> <br>
            <select>
                <option value="select">Account status</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select> <br>
            <select>
                <option value="select">Select role</option>
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
            </select> <br>

            <input type="submit" value="Register">
        </form>

        <form>
            <input type="submit" value="Back">
        </form>

        <script src="/webjars/jquery/2.1.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>